
@media screen and (min-width:992px) {
    .schedule {
        min-height: 100vh;
    }
}

@media (max-width: 767px) {
    #col-schedule-wrapper {
        padding: 0;
        overflow: hidden;
    }
}

.schedule p {
    margin: 1.5em 0;
}

.not-public .visible-public {
    display: none !important;
}
.public .hidden-public {
    display: none !important;
}
.not-public #floating-buttons {
    background-color: #ebebeb;
    border-color: #dddddd;
    border-bottom: none;
}
.not-public #floating-buttons .text-danger,
.not-public #floating-buttons {
    color: #555;
}

#footerwrap {
    padding-bottom: 70px;
}

/* -------------------------------------------------- */
/* Various Highlight Classes */
/* -------------------------------------------------- */

.team-highlight > div {
    background: rgba(130, 195, 40, .3);
}

.match-venue, .info-right {
    white-space: nowrap;
    display: inline;
}

.schedule .team-highlight:not(.bye-highlight) > .match-info {
    background: rgba(130, 195, 40, .2);
}

.schedule .bye-highlight.team-highlight > div:not(.match-info) {
    background: rgba(200,0,0, .5);
    color: #f4c7c5;
}
.unscheduled .match-info, .no-possible-timeslots .match-info {
    color: #b70000;
}

.schedule .bye-highlight .match-info,
.schedule .bye-highlight .match-vs,
.schedule .unpaid .match-info {
    color:rgba(0,0,0,0)
}

.schedule .po-bye-highlight {
    background: rgba(120, 220, 250, .25);
}
.schedule .po-bye-highlight .match-info {
    background: rgba(120, 220, 250, .3);
}
.schedule .po-bye-highlight .match-info .datetime-dropdown,
.schedule .po-bye-highlight .match-teams .match-vs {
    visibility: hidden;
}

.dupe-highlight,
.dupe-highlight .match-info {
    background: rgba(250, 142, 17, .15);
}

.free-highlight,
.free-highlight .match-info {
    background: rgba(65, 150, 65, 0.15);
}

.winner {
    font-weight: bolder;
}

/* -------------------------------------------------- */
/* Standings */
/* -------------------------------------------------- */

.standings {
    padding-top:15px;
    overflow-x: scroll;
}

.scorers,
.standings > *:not(button) {
    color: #333333;
    font-weight: 300;
}

.standings > .row {
    padding-left: 6px;
    padding-right: 6px;
}

.standings .table>thead>tr>th {
    border-bottom: 1px solid #EEEEEE;
}

.standings .table-hover>tbody>tr:hover {
    background-color: #e6e6e6;
}

.standings td {
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
}

.schedule .schedule-week {
    margin-bottom: 15px;
}

.schedule .schedule-week .week-title,
.division-standings h3 {
    color: #333333;
}

.schedule h5,
.group-standings h5 {
    padding: 7px 5px;
    margin: 0 -15px 5px;
    background: #555555;
    color: #eeeeee;
    margin-bottom: 0;
    font-weight: normal;
}

.division-standings + .division-standings {
    margin-top: 30px;
}

tr.last-playoff-spot.standings-row {
    border-bottom: 1px solid;
}

.standings th:nth-child(n+3),
.standings td:nth-child(n+3) {
    text-align: center;
}

@media (min-width:768px) {
    .standings {
        overflow-x: auto;
    }
    .standings td {
        max-width: 200px;
    }

}
@media screen and (min-width:992px) {
    .scorers,
    .standings {
        margin-right: 0;
        margin-left:  0;
    }

    .stickem-container {
        position: relative;
    }

     .stickit-end {
        bottom: 0;
        position: absolute;
    }

     .stickem-placeholder {
        height: 1px;
    }

     .stickem {
        position: absolute;
    }

     .stickit {
        position: fixed;
        top: 30px;
    }

}

@media screen {
/* STICKEM on small devices */
.stickem-sticky.stickem-container {
    position: relative;
}

.stickem-sticky .stickit-end {
    bottom: 0;
    position: absolute;
}

.stickem-sticky .stickem-placeholder {
    height: 1px;
}

.stickem-sticky .stickem {
    position: absolute;
}

.stickem-sticky .stickit {
    position: fixed;
    top: 30px;
}
}


/* -------------------------------------------------- */
/* Custom Standings Modal (select, view, forms...) */
/* -------------------------------------------------- */

#standings-modal {
    overflow-y: auto;
}

#standings-modal .alert {
    margin-top: -15px;
}

#standings-modal .text-label {
    font-weight: 700;
    font-size: 14px;
    max-width: 100%;
    margin-bottom: 5px;
}

#standings-modal button.create-standings-btn {
    margin-top: 0;
}

#standings-modal .standings-form {
    margin-top: 17px;
}

#standings-modal .standings-form  .toggle label {
    margin: 0;
}

#standings-modal .sort a {
    display: block;
    width: 13px;
    height: 13px;
    outline: none;
    text-align: center;
}

#standings-modal .alert {
    text-align: left;
}

#standings-modal .alert a {
    text-decoration: underline;
    color: inherit;
}

#standings-modal .column {
    background: #f6f6f6;
    margin: 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 4px solid #2d4792;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
}

#standings-modal .column.sortable-column {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

#standings-modal .column.ui-sortable-helper {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#standings-modal .column .drag-handle-container {
    padding-top: 8px;
}

#standings-modal .column .drag-handle {
    color: #2c4691;
}

#standings-modal .column input[type="text"], #standings-modal .column input[type="number"] {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

#standings-modal .column input[type="text"]:focus, #standings-modal .column input[type="number"]:focus {
    border-color: #66afe9;
}

#standings-modal .column .block {
    padding: 0;
}

#standings-modal .property {
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
}

#standings-modal .property.name {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
}

#standings-modal .property.select {
    padding-top: 0;
}

#standings-modal .column.inactive, #standings-modal .column.inactive * {
    color: #ababab;
}

#standings-modal .column.inactive {
    border-left-color: #4d5774;
}

#standings-modal .scoring .column {
    padding-left: 30px;
}

#standings-modal .status-divider {
    margin: 10px 0;
}

#standings-modal .status-divider > .divider {
    border: 2px solid #ededed;
}

#standings-modal .status-divider > .divider {
    border: 2px solid #ededed;
}

#standings-modal .status-divider > .ref {
    color: #9b9b9b;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#standings-modal .columns-title {
    margin-top: 20px;
}

#standings-modal .header {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-left: 5px;
}

#standings-modal .headers > .header > .header-inner {
    text-align: center;
    padding: 0 3px 2px 2px
}

#standings-modal .update-points-btn {
    margin-top: 10px;
}

#standings-modal .modal-footer button {
    float: left;
}

#standings-modal .modal-footer button.save-as-new-btn,
#standings-modal .modal-footer button.save-btn {
    float: right;
}

#standings-modal .modal-footer button.btn + button.btn {
    margin-left: 0;
}

#standings-modal .modal-footer button.btn {
    margin-right: 5px;
}

#standings-modal .modal-header a.disabled {
    cursor: default;
}

#standings-modal .all-sports-block {
    color: #43a047;
}

#standings-modal .all-sports-block .all-sports i.fa {
    vertical-align: middle;
}

#standings-modal .default-association-standings-block {
    margin-bottom: 20px;
}

#standings-modal .default-association-standings-block .block-label {
    font-weight: bolder;
}

#standings-modal .toggle-block label {
    margin-bottom: 0;
}

#standings-modal .toggle-block .help-block {
    margin-top: -5px;
}

@media (max-width: 767px) {
    #standings-modal .property.name {
        font-size: 14px;
    }

    #standings-modal .header.visible-xs {
        margin-top: 12px;
        padding-left: 15px;
    }

    #standings-modal .column .drag-handle-container {
        padding-top: 6px;
    }

    #standings-modal .column .drag-handle {
        font-size: 20px;
    }

    #standings-modal .modal-footer button.save-as-new-btn,
    #standings-modal .modal-footer button.save-btn {
        float: left;
    }

    #standings-modal .modal-footer button {
        margin-top: 6px;
    }
}

/* -------------------------------------------------- */
/* Schedule */
/* -------------------------------------------------- */

.schedule {
}

.schedule > *:not(button) {
    color: #000000;
}

.match-info {
    font-size: 80%;
    color: #666666;
    line-height: 1.5em;
    padding-top: 3px;
    border-top: 1px solid #EEEEEE;
    background: #fafbfb;
}

.match-referee {
    color: #222222;
    margin-left: 5px;
}
.match-referee img {
    position: relative;
    bottom:2px
}

.schedule .schedule-week .week-title {
    padding: 0 15px;
}

.off-week-wrapper .off-week h3.week-title {
    text-transform: uppercase;
    text-align: center;
    color: #ececec;
    background: #555;
    padding: 20px 0;
    margin: 0 !important;
    font-weight: 100;
}
.off-week-wrapper {
    margin: 40px 0 20px !important;
}
.off-week {
    margin-top: 1px !important;
}

.schedule .schedule-playoff-round h5,
.schedule .bracket-heading {
    background: rgba(255,255,255,.5);
    color: #2c2c2c;
}
.schedule .schedule-playoff-round h5 {
    margin-top: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    font-weight: 800;
    color: #424242;
}

.schedule .schedule-playoff-round h6 {
    border-top: 1px solid #e5e5e5;
    padding-left: 4px;
    padding-top: 6px;
    padding-bottom: 4px;
    margin: 0 -15px;
    font-weight: 600;
    color: #999;
    background: #f5f5f5;}

.schedule .schedule-playoff-round {
    margin-bottom: 10px;
}

.schedule .schedule-playoff-round.bye-round .po-bye-highlight {
    background: rgba(180, 180, 220, 0.25);
}
.schedule .schedule-playoff-round.bye-round .po-bye-highlight .match-info {
    background: rgba(115, 125, 126, 0.3);
}

.schedule .schedule-match .team-wrapper.home-team {
    padding-right: 0;
}

.schedule .schedule-match .team-wrapper.away-team {
    padding-left: 0;
}

.match-info > .row > div,
.match-teams.row > .team-wrapper {
    padding-right: 0;
    padding-left: 0;
}
.match-info > .row {
    margin-right: 0;
    margin-left: 0;
}
.match-teams.row {
    margin-right: -4px;
    margin-left: -4px;
    padding-bottom: 1px
}
.schedule-match > div {
    /*separate text from screen edge*/
    padding-left: 4px;
    padding-right: 4px;
}

.schedule .schedule-match .match-teams > div {
    padding-bottom: 0px;
    padding-top: 2px;
}

.team-wrapper:last-child .match-team {
    text-align: right;
}

span.team-name {
    display: inline-block;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
}

.team-wrapper .match-team,
.team-wrapper {
    height: 1.8em;
}

.match-vs {
    min-height: 1.8em;
}

.schedule .schedule-match .match-teams .match-vs {
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
}

.schedule .schedule-match .score-inputs {
    position: relative;
    width: 61px; /* 25px for each input + 10px for the : separator */
    margin: 0 auto;
}

.schedule .schedule-match .score-inputs .expand-scores {
    position: absolute;
    left: 63px; /* 61px which is .score-inputs width + some separation */
    top: 4px;
    font-size: 10px;
    z-index: 2;
}

.schedule .schedule-match .score-inputs .expand-scores a,
.schedule .schedule-match .score-inputs .expand-scores a:focus {
    outline: none;
}

.schedule .schedule-match .extra-scores .extra-scores-wrapper {
    display: inline-block;
}

.schedule .schedule-match .extra-scores .extra-score {
    color: #808080;
    font-size: 12px;
    margin: 0 1px;
}

.schedule .schedule-match .extra-scores .ot-label {
    color: #808080;
    font-size: 12px;
    margin: 0 -1px 0 0;
}

#score-form .schedule .schedule-match .extra-score-input-group {
    margin-top: -3px;
    margin-bottom: 3px;
}

#score-form .schedule .schedule-match .extra-score-input-group .block-label {
    margin-bottom: -3px;
}

#score-form .schedule .schedule-match .extra-score-inputs {
    margin-top: 2px;
}

#score-form .schedule .schedule-match .ot-scores {
    margin-top: -4px;
}
.schedule .schedule-match .ot-scores {
    margin-top: -9px;
}
#score-form .schedule .schedule-match .subscores {
    margin-top: -4px;
    margin-bottom: 0;
}
.schedule .schedule-match .subscores {
    margin-top: -9px;
    margin-bottom: 4px;
}

.schedule .schedule-match .match-comment,
.schedule .schedule-match .match-comment * {
    font-size: 11px;
    color: #666666;
    line-height: 18px;
}

.schedule .schedule-match .match-comment p {
    margin: -5px 0 3px;
}
.schedule .schedule-match .match-comment p {
    margin: 0 0 3px;
}

.schedule .dropdown-menu .close {
    margin-right: 10px;
    font-size: 100%;
}

.schedule .dropdown-menu input[type=text],
.schedule .dropdown-menu input[type=number] {
    width: 100px;
    margin: 0 15px;
    padding: 15px 5px;
    text-align: center;
    color: #333333;
}

.ui-timepicker-list {
    text-align: center;
}

.schedule .dropdown-menu .btn {
    width: 100px;
    margin: 15px;
    color: #ffffff;
}

.match-vs input,
#score-form .match-vs input,
#score-form .extra-score-inputs input {
    width: 25px;
    padding: 0 2px;
    font-size: 13px;
    margin: 0 -2px;
    text-align: center;
}

.schedule-week > h3 > .btn {
    visibility: hidden;
}

.schedule-week:hover > h3 > .btn {
    visibility: visible;
}

.fixture {
    font-weight: bolder;
    margin-right: 10px;
}

.team-color[style="color: #ffffff;"]{
    text-shadow: 0 0 1px #333;
}
.team-color.primary,
.team-color.secondary {
    margin-right: 8px;
    display: inline-block;
    position: relative;
}

.team-color.secondary {
    margin-right: -32px;
    margin-left: 8px;
}

.past {
    display: none;
    /*opacity: .7;*/
}

.past-hide {
    display: none;
}

.match-number {
    color: #000000;
    margin-right: 7px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #dddddd;
    background: #C5E1A5;
    font-weight: bold;
    color: #33691E;
}
.ui-draggable-helper {
    background: rgba(100,100,100,0.3);
}
.match-team.ui-draggable-helper,
.match-teams.ui-draggable-helper {
    padding: 2px 5px;
}

@media (max-width: 767px) {
    .schedule .dropdown-menu > li > a {
        color: #1d1d1d;
    }

    /* reduce margin on mobile */
    .container.content {
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
    }
}

/* -------------------------------------------------- */
/* Admin Buttons */
/* -------------------------------------------------- */

.admin-buttons {
    margin-top: 1em;
}

.admin-buttons .btn {
    margin-top: 1em;
    width: 200px;
}

/* -------------------------------------------------- */
/* Filter Buttons */
/* -------------------------------------------------- */
.filter-buttons .bootstrap-select {
    width: auto !important;
    max-width: 33%;
    float: right !important;
    margin: 0 4px;
    box-shadow: none !important;
}

.muted {
    opacity: 0.5;
}

/* -------------------------------------------------- */
/* Other Buttons */
/* -------------------------------------------------- */

.partial-schedule-buttons {
    padding: 0 15px;
}