/* hide jersey colors */
.flaticon-tshirt5 {
    display: none !important;
}
.match-team .flaticon-tshirt5 {
    display: none !important;
}

.schedule .schedule-match .team-wrapper.home-team {
    padding-left: 5px;
}

.schedule .schedule-match .team-wrapper.away-team {
    padding-right: 5px;
}

/* on team page */
.match > h1 > div {
    margin-left: 0 !important;
    text-indent: 0 !important;
}